[submodule "gstlal-calibration/tests/check_calibration/GDSFilters/O2"]
	path = gstlal-calibration/tests/check_calibration/GDSFilters/O2
	url = https://git.ligo.org/aaron-viets/O2filters.git
[submodule "gstlal-calibration/tests/check_calibration/GDSFilters/O1"]
	path = gstlal-calibration/tests/check_calibration/GDSFilters/O1
	url = https://git.ligo.org/aaron-viets/O1filters.git
[submodule "gstlal-calibration/tests/check_calibration/GDSFilters/O3"]
	path = gstlal-calibration/tests/check_calibration/GDSFilters/O3
	url = https://git.ligo.org/aaron-viets/O3filters.git
[submodule "gstlal-calibration/tests/check_calibration/GDSFilters/ER10"]
	path = gstlal-calibration/tests/check_calibration/GDSFilters/ER10
	url = https://git.ligo.org/aaron-viets/ER10filters.git
[submodule "gstlal-calibration/tests/check_calibration/GDSFilters/ER13"]
	path = gstlal-calibration/tests/check_calibration/GDSFilters/ER13
	url = https://git.ligo.org/aaron-viets/ER13filters.git
[submodule "gstlal-calibration/tests/check_calibration/GDSFilters/ER14"]
	path = gstlal-calibration/tests/check_calibration/GDSFilters/ER14
	url = https://git.ligo.org/aaron-viets/ER14filters.git
[submodule "gstlal-calibration/tests/check_calibration/GDSFilters/PreER10"]
	path = gstlal-calibration/tests/check_calibration/GDSFilters/PreER10
	url = https://git.ligo.org/aaron-viets/PreER10filters.git
[submodule "gstlal-calibration/tests/check_calibration/GDSFilters/PreER13"]
	path = gstlal-calibration/tests/check_calibration/GDSFilters/PreER13
	url = https://git.ligo.org/aaron-viets/PreER13filters.git
[submodule "gstlal-calibration/tests/check_calibration/GDSFilters/PreER14"]
	path = gstlal-calibration/tests/check_calibration/GDSFilters/PreER14
	url = https://git.ligo.org/aaron-viets/PreER14filters.git
