Source: gstlal-inspiral
Maintainer: Carsten Aulbert <carsten.aulbert@aei.mpg.de>
Section: lscsoft
Priority: optional
Standards-Version: 3.9.2
Build-Depends:
 debhelper (>= 8),
 python-dev (>= 2.6),
 gstlal-dep (>= 0.2.2),
 python-gobject-dev,
 lal-dev (>= 6.7.0),
 lalmetaio-dev (>= 1.0.4),
 lalinspiral-dev (>= 1.3.0),
 libgsl0-dev (>= 1.9),
 fakeroot,
 autoconf,
 pkg-config,
 libxml2-dev,
 gstlal-dev (>=0.5.0)

Package: gstlal-inspiral
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
 python (>= 2.6),
 python-glue (>= 1.42),
 python-glue-segments (>= 1.42),
 python-pylal (>= 0.1.4),
 gstlal-dep (>= 0.2.2),
 python-gobject,
 python-numpy,
 lal (>= 6.7.0),
 lalmetaio (>= 1.0.4),
 lalinspiral (>= 1.3.0),
 libgsl0 (>= 1.9),
 libxml2,
 gstlal (>=0.5.0)
 gstlal-ugly (>=0.4.0)
Description: GStreamer version of LAL (inspiral part)
 gstlal provides a suite of GStreamer elements that expose
 gravitational-wave data analysis tools from the LAL library for use
 in GStreamer signal-processing pipelines. Examples include an element
 to add simulated gravitational waves to an h(t) stream, and source
 elements that can provide data from .gwf frame files or NDS
 servers to a GStreamer pipeline.
