#!/usr/bin/make -f
%:
	dh $@ --with=python3

override_dh_auto_configure:
	dh_auto_configure -- --enable-gtk-doc --disable-massmodel

override_dh_auto_test:
	export PYTHONPATH=$$(pwd)/python; \
	dh $@
