body {
	font: 10pt verdana;
	color: #ecf0f1;
	background-color: #2c3e50;
}

table {
	color: black;
}

caption {
	color: #ecf0f1;
}

img {
	box-shadow: 2px 2px 1px #ecf0f1;
}

/* Style the list */
ul.tab {
    list-style-type: none;
    padding: 5px 5px 15px 5px;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: #ecf0f1;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 10pt;
}

/* Style the form inside the list items */
ul.tab li input {
    display: inline-block;
    color: black;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
    font-size: 10pt;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #f1c40f;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: #ccc;}

/* Style the tab content */
.tabcontent {
    display: none;
}


.tabcontent {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

