gstlal.spec
lib/gstlal/gstlal.pc
lib/gstlal/gstlaltypes.gir
lib/gstlal/gstlaltypes.typelib
tests/*.pyc
tests/*.dump
doc/Doxyfile
doc/html/
doc/latex/
doc/gobject/*.args
doc/gobject/*.hierarchy
doc/gobject/*.interfaces
doc/gobject/*.prerequisites
doc/gobject/*.signals
doc/gobject/*.stamp
doc/gobject/*.txt
doc/gobject/html/
doc/gobject/tmpl/
doc/gobject/xml/
